{% extends "common/base.twig" %}

{% block css %}
<link rel="stylesheet" href="./css/list.min.css">
{% endblock %}

{% block content %}
    {% include "common/nav.twig" %}
    <div class="list-demo">list</div>
{% endblock %}

{% block script %}
<script src="{{ asset('newyearbundle/wap') }}/js/list-c089d2ab26.js"></script>
{% endblock %}